# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:
- List popular languages for Data Science
- List commonly used libraries by Data Scientist
- List Data Science Tools
- Arithmetics expressions in Python

### Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. MatPlotLib
3. Pandas
4. Scikit-Learn

|Data Science Tools|
|------------------|
|Anaconda          |
|Jupyter Notebooks |
|VS Code           |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

(3*4)+5

In [12]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [14]:
minutes=200
hours=60
minutes/hours

3.3333333333333335

##Author 

Monica Checa